 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 	<%= devise_error_messages! %>
    <div class="form-group" style="text-align: -webkit-center; text-align: -moz-center">
    	<div class="input-group">
      	<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %>
      </div>
    </div>
    <div class="form-group" style="text-align: -webkit-center; text-align: -moz-center">
      <div class="input-group">
        <%= f.phone_field :user_phone, autofocus: true, class: "form-control", placeholder: "phone" %>
      </div>
    </div>
    <div class="form-group" style="text-align: -webkit-center; text-align: -moz-center">
    	<div class="input-group">
      		<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %>
      	</div>
    </div>
    <div class="form-group" style="text-align: -webkit-center; text-align: -moz-center">
    	<div class="input-group">
      		<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "confirm password" %>
      	</div>
    </div>
    <div class="form-group">
    	<%= f.button "Sign up", class: "btn btn-primary", id: "btn-submit" %>
    	<input type="reset"  value="Reset" class="btn btn-primary">
	</div>
<% end %>