<%= form_for(@pzz_identity) do |f| %>
  <% if @pzz_identity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pzz_identity.errors.count, "error") %> prohibited this pzz_identity from being saved:</h2>

      <ul>
      <% @pzz_identity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pzz_user_id %><br>
    <%= f.number_field :pzz_user_id %>
  </div>
  <div class="field">
    <%= f.label :user_realname %><br>
    <%= f.text_field :user_realname %>
  </div>
  <div class="field">
    <%= f.label :user_gender %><br>
    <%= f.number_field :user_gender %>
  </div>
  <div class="field">
    <%= f.label :identity_card_no %><br>
    <%= f.text_field :identity_card_no %>
  </div>
  <div class="field">
    <%= f.label :identity_image %><br>
    <%= f.text_field :identity_image %>
  </div>
  <div class="field">
    <%= f.label :identity_status %><br>
    <%= f.number_field :identity_status %>
  </div>
  <div class="field">
    <%= f.label :identity_remark %><br>
    <%= f.text_area :identity_remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
