<div class="page-list-bg p10 mt20 frame-border">

  <div class="mt20 ml20">
    <h4>公安部驾驶认证</h4>
  </div>
  <div class="user-cr">
    <form class="form-horizontal mt50 " role="form">
      <input type="hidden" name="id" value="<%=identity.id%>" />
      <div class="form-group m30">
        <label for="inputMobile" class="col-xs-3 control-label cr666 f14">真实姓名：</label>
        <div class="col-xs-5">
          <input type="tel" class="form-control frame-nradius" id="user_realname" name="user_realname" placeholder="真实姓名" value="<%=identity.user_realname%>"/>
        </div>
        <span id="identity-driver-realname-msg" class="col-xs-4 f12 crred control-label tl">
        </span>
      </div>
      <div class="form-group m30">
        <label for="inputMobile" class="col-xs-3 control-label cr666 f14">驾证号码：</label>
        <div class="col-xs-5">
          <input type="tel" class="form-control frame-nradius" id="identity_dl_no" name="identity_dl_no" placeholder="驾证号码" value="<%=identity.identity_dl_no%>" />
        </div>
        <span id="identity_dl_no-msg" class="col-xs-4 f12 crred control-label tl">
        </span>
      </div>
      <div class="form-group m30">
        <label for="inputMobile" class="col-xs-3 control-label cr666 f14">驾照类型：</label>
        <div class="col-xs-5">
          <select class="form-control frame-nradius" name="identity_dl_type">
            <option value="0" <%=identity.identity_dl_type=='A'?'selected=selected':'' %>>A本</option>
            <option value="1" <%=identity.identity_dl_type=='B'?'selected=selected':'' %>>B本</option>
            <option value="2" <%=identity.identity_dl_type=='C'?'selected=selected':'' %>>C本</option>
          </select>
        </div>
      </div>
      <div class="form-group form-group-xs ">
        <label for="nickName" class="col-xs-3 control-label f14 cr666">领驾照时间：</label>
        <div class="control-group col-xs-5">
          <div class="controls">
            <div class="input-prepend input-group col-xs-10">
              <span class="add-on input-group-addon border-radius-style"> <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              </span>
              <input type="text" id='identity_dl_issued' name='identity_dl_issued' class="form-control border-radius-style offer-date-input" placeholder="领驾照时间" value="<%=identity.identity_dl_issued.substr(0,10) %>"/>
            </div>
          </div>
        </div>
        <span id="identity_dl_issued-msg" class="col-xs-3 f12 crred control-label tl">
        </span>
      </div>

      <div class="form-group form-group-sm ">
        <label for="nickName" class="col-xs-3 control-label cr666 f14">驾驶证照：</label>
        <div class="col-xs-5">
          <input type="file" name="identity_dl_image" id="identity_dl_image" onchange="loadCardImage(this.id)">
        </div>
        <span id="identity_dl_image-msg" class="col-xs-4 f12 crred control-label tl">
        </span>
      </div>
      <img id="driver-image" src="" style="display:none;"/>
      <div class="form-group">
        <div class="col-xs-offset-3">
          <div class="col-xs-4">
            <a class="com-rposition" data-toggle="modal" data-target=".bs-example-modal-sm" >
              <i class="fa fa-search module-identif-i"></i>
            </a>
            <img class="module-identif-driversimg" src="images/driver2.jpg" />
          </div>
        </div>
      </div>
      
      <div class="modal fade bs-example-modal-sm" id="mymodal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">驾驶证样本</h4>
            </div>
            <div class="modal-body text-center">
              <img class="module-identif-driverimg" src="images/driver1.jpg">
            </div>
          </div> 
        </div>
      </div>

      <div class="form-group mt20">
        <div class="col-xs-offset-3 col-xs-9">
          <button type="button" id='identity-driver-again-btn' class="btn btn-primary p10 frame-nradius btn-sm">确认</button>
          <button type="reset" class="btn btn-sm btn-default p10 frame-nradius ">重置</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src='js/rome.js'></script>
<script>
  var moment = rome.moment;
  rome(identity_dl_issued, { time: false });

  function loadCardImage(sourceId){
    if (typeof FileReader === 'undefined') {  
      alert('Your browser does not support FileReader...');  
      return;  
    }  
    var reader = new FileReader();  
    reader.onload = function(e) {   
      $("#driver-image").attr("src", this.result);
    }  
    reader.readAsDataURL(document.getElementById(sourceId).files[0]); 
  }

</script>