<div class="page-list-bg p10 mt20 frame-border">

  <div class="mt20 ml20 cr5c">
    <h3><i class="fa fa-check-circle"></i>已审核通过</h3>
  </div>

  <div class="user-cr mt10">
    <form class="form-horizontal  mt30" role="form">
      <div class="form-group module-success-form">
        <label class="col-xs-3 control-label f14 cr666">
          姓名：
        </label>
        <div class="col-xs-3">
          <p class="form-control-static">
            <%= identity.user_realname %>
          </p>
        </div>
      </div>

      <div class="form-group module-success-form">
        <label class="col-xs-3 control-label f14 cr666">
          驾驶证号：
        </label>
        <div class="col-xs-3">
          <p class="form-control-static">
            <%= identity.identity_dl_no %>
          </p>
        </div>
      </div>

      <div class="form-group module-success-form">
        <label class="col-xs-3 control-label f14 cr666">
          驾照类型：
        </label>
        <div class="col-xs-3">
          <p class="form-control-static">
            <%= identity.identity_dl_type %>本
          </p>
        </div>
      </div>

      <div class="form-group module-success-form">
        <label class="col-xs-3 control-label f14 cr666">
          初领驾照时间：
        </label>
        <div class="col-xs-3">
          <p class="form-control-static">
            <%= identity.identity_dl_issued %>
          </p>
        </div>
      </div>
      
      <div class="form-group module-success-form">
        <label class="col-xs-3 control-label f14 cr666">
          驾驶者照：
        </label>
        <div class="col-xs-3 module-success-cardimg">
          <img src="http://192.168.1.115:3000/<%=identity.identity_dl_image %>">
        </div> 
      </div>
      
      <div class="form-group module-success-form">
        <label class="col-xs-3 control-label f14 cr666">
          审核时间：
        </label>
        <div class="col-xs-3 ">
          <p class="form-control-static">
            <%=identity.updated_at %>
          </p>
        </div>
        
      </div>
      
      <div class="form-group module-success-form">
        <div class="col-xs-offset-3 col-xs-6">
          <button type="button" id="identity-driver-again" class="btn btn-primary frame-nradius">
            重新认证
          </button>
        </div>
      </div>
      
    </form>
  </div>
</div>