<p id="notice"><%= notice %></p>

<p>
  <strong>Pzz user:</strong>
  <%= @pzz_driver_identity.pzz_user_id %>
</p>

<p>
  <strong>User realname:</strong>
  <%= @pzz_driver_identity.user_realname %>
</p>

<p>
  <strong>Identity dl no:</strong>
  <%= @pzz_driver_identity.identity_dl_no %>
</p>

<p>
  <strong>Identity dl image:</strong>
  <%= @pzz_driver_identity.identity_dl_image %>
</p>

<p>
  <strong>Identity dl type:</strong>
  <%= @pzz_driver_identity.identity_dl_type %>
</p>

<p>
  <strong>Identity dl issued:</strong>
  <%= @pzz_driver_identity.identity_dl_issued %>
</p>

<p>
  <strong>Identity dl status:</strong>
  <%= @pzz_driver_identity.identity_dl_status %>
</p>

<p>
  <strong>Identity status:</strong>
  <%= @pzz_driver_identity.identity_status %>
</p>

<p>
  <strong>Indentity remark:</strong>
  <%= @pzz_driver_identity.indentity_remark %>
</p>

<%= link_to 'Edit', edit_pzz_driver_identity_path(@pzz_driver_identity) %> |
<%= link_to 'Back', pzz_driver_identities_path %>
