<%= form_for(@pzz_car) do |f| %>
  <% if @pzz_car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pzz_car.errors.count, "error") %> prohibited this pzz_car from being saved:</h2>

      <ul>
      <% @pzz_car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pzz_user_id %><br>
    <%= f.number_field :pzz_user_id %>
  </div>
  <div class="field">
    <%= f.label :pzz_driver_identity_id %><br>
    <%= f.number_field :pzz_driver_identity_id %>
  </div>
  <div class="field">
    <%= f.label :user_realname %><br>
    <%= f.text_field :user_realname %>
  </div>
  <div class="field">
    <%= f.label :car_type %><br>
    <%= f.number_field :car_type %>
  </div>
  <div class="field">
    <%= f.label :car_brand_name %><br>
    <%= f.text_field :car_brand_name %>
  </div>
  <div class="field">
    <%= f.label :car_seats %><br>
    <%= f.number_field :car_seats %>
  </div>
  <div class="field">
    <%= f.label :car_plate_no %><br>
    <%= f.text_field :car_plate_no %>
  </div>
  <div class="field">
    <%= f.label :car_vin %><br>
    <%= f.text_field :car_vin %>
  </div>
  <div class="field">
    <%= f.label :car_engine_no %><br>
    <%= f.text_field :car_engine_no %>
  </div>
  <div class="field">
    <%= f.label :identity_vl_no %><br>
    <%= f.text_field :identity_vl_no %>
  </div>
  <div class="field">
    <%= f.label :identity_vl_image %><br>
    <%= f.text_field :identity_vl_image %>
  </div>
  <div class="field">
    <%= f.label :identity_vl_issued %><br>
    <%= f.datetime_select :identity_vl_issued %>
  </div>
  <div class="field">
    <%= f.label :insurance_corporate %><br>
    <%= f.text_field :insurance_corporate %>
  </div>
  <div class="field">
    <%= f.label :insurance_no %><br>
    <%= f.text_field :insurance_no %>
  </div>
  <div class="field">
    <%= f.label :insurance_expired %><br>
    <%= f.datetime_select :insurance_expired %>
  </div>
  <div class="field">
    <%= f.label :insurance_image %><br>
    <%= f.text_field :insurance_image %>
  </div>
  <div class="field">
    <%= f.label :identity_status %><br>
    <%= f.number_field :identity_status %>
  </div>
  <div class="field">
    <%= f.label :identity_remark %><br>
    <%= f.text_area :identity_remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
