<h1>Listing pzz_cars</h1>

<table>
  <thead>
    <tr>
      <th>Pzz user</th>
      <th>Pzz driver identity</th>
      <th>User realname</th>
      <th>Car type</th>
      <th>Car brand name</th>
      <th>Car seats</th>
      <th>Car plate no</th>
      <th>Car vin</th>
      <th>Car engine no</th>
      <th>Identity vl no</th>
      <th>Identity vl image</th>
      <th>Identity vl issued</th>
      <th>Insurance corporate</th>
      <th>Insurance no</th>
      <th>Insurance expired</th>
      <th>Insurance image</th>
      <th>Identity status</th>
      <th>Identity remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pzz_cars.each do |pzz_car| %>
      <tr>
        <td><%= pzz_car.pzz_user_id %></td>
        <td><%= pzz_car.pzz_driver_identity_id %></td>
        <td><%= pzz_car.user_realname %></td>
        <td><%= pzz_car.car_type %></td>
        <td><%= pzz_car.car_brand_name %></td>
        <td><%= pzz_car.car_seats %></td>
        <td><%= pzz_car.car_plate_no %></td>
        <td><%= pzz_car.car_vin %></td>
        <td><%= pzz_car.car_engine_no %></td>
        <td><%= pzz_car.identity_vl_no %></td>
        <td><%= pzz_car.identity_vl_image %></td>
        <td><%= pzz_car.identity_vl_issued %></td>
        <td><%= pzz_car.insurance_corporate %></td>
        <td><%= pzz_car.insurance_no %></td>
        <td><%= pzz_car.insurance_expired %></td>
        <td><%= pzz_car.insurance_image %></td>
        <td><%= pzz_car.identity_status %></td>
        <td><%= pzz_car.identity_remark %></td>
        <td><%= link_to 'Show', pzz_car %></td>
        <td><%= link_to 'Edit', edit_pzz_car_path(pzz_car) %></td>
        <td><%= link_to 'Destroy', pzz_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pzz car', new_pzz_car_path %>
