<p id="notice"><%= notice %></p>

<p>
  <strong>Pzz user:</strong>
  <%= @pzz_car.pzz_user_id %>
</p>

<p>
  <strong>Pzz driver identity:</strong>
  <%= @pzz_car.pzz_driver_identity_id %>
</p>

<p>
  <strong>User realname:</strong>
  <%= @pzz_car.user_realname %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @pzz_car.car_type %>
</p>

<p>
  <strong>Car brand name:</strong>
  <%= @pzz_car.car_brand_name %>
</p>

<p>
  <strong>Car seats:</strong>
  <%= @pzz_car.car_seats %>
</p>

<p>
  <strong>Car plate no:</strong>
  <%= @pzz_car.car_plate_no %>
</p>

<p>
  <strong>Car vin:</strong>
  <%= @pzz_car.car_vin %>
</p>

<p>
  <strong>Car engine no:</strong>
  <%= @pzz_car.car_engine_no %>
</p>

<p>
  <strong>Identity vl no:</strong>
  <%= @pzz_car.identity_vl_no %>
</p>

<p>
  <strong>Identity vl image:</strong>
  <%= @pzz_car.identity_vl_image %>
</p>

<p>
  <strong>Identity vl issued:</strong>
  <%= @pzz_car.identity_vl_issued %>
</p>

<p>
  <strong>Insurance corporate:</strong>
  <%= @pzz_car.insurance_corporate %>
</p>

<p>
  <strong>Insurance no:</strong>
  <%= @pzz_car.insurance_no %>
</p>

<p>
  <strong>Insurance expired:</strong>
  <%= @pzz_car.insurance_expired %>
</p>

<p>
  <strong>Insurance image:</strong>
  <%= @pzz_car.insurance_image %>
</p>

<p>
  <strong>Identity status:</strong>
  <%= @pzz_car.identity_status %>
</p>

<p>
  <strong>Identity remark:</strong>
  <%= @pzz_car.identity_remark %>
</p>

<%= link_to 'Edit', edit_pzz_car_path(@pzz_car) %> |
<%= link_to 'Back', pzz_cars_path %>
